<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# ogp: http://ogp.me/ns/profile#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Tiitel- 6 sõna-->
    <title>Here is Voldemar Pungar profile</title>
    
</head>
<body>
    <template id= profile>
        <article class=i-klass itemscope itemtype=https://schema.org/ProfilePage>
            <header id=pais itemprop=creator itemscope itemtype=https://schema.org/Person>
                <!-- 6 sõna -->
                <h1>This is <span itemprop=givenName>Voldemar</span> <span itemprop=familyName> Pungar</span> profile</h1>
                <img itemprop=image width=350 src="/pildid/profile.png">
                <address>
                        <ul id=contact-list></ul>
                        <template id=contact-item>
                            <li>
                                <span></span>: <a href=#></a>
                            </li>
                        </template>
                    </address>
                    </header>
                    <section>
                        <h2>Description</h2>
                        <p class="desc">
                            <span itemprop=description></span>
                            <span class=desc-continue></span>
                        </p>
                    </section>
                    <section>
                        <h2>Experience</h2>
                        <ul id=xp-list></ul>
                        <template id=xp-item>
                            <li>
                                <span></span>
                                <progress></progress>
                            </li>
                        </template>
                    </section>
                    <section>
                        <h2>Education</h2>
                        <ul id=edu-list></ul>
                        <template id=edu-item>
                            <li>
                                <h4></h4>
                                <p>
                                    <span></span>
                                    <br><small></small>
                                </p>
                            </li>
                        </template>
                    </section>
                </article>
            </template>
            