nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
        display: inline-block;
        list-style: none;
        > a {
            display: inline-block;
            text-decoration: none;
        }
    }
}

.button-hover:hover {
    color:(var(--bg-black));
    background-color: var(--h1-yellow);
}
